<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="DTO.Properties.Settings.QL_DCAN2ConnectionString"
            connectionString="Data Source=LAPTOP-M3K4EN6H\SQLEXPRESS;Initial Catalog=QL_DCAN2;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
        <add name="DTO.Properties.Settings.QL_DCANConnectionString" connectionString="Data Source=DESKTOP-TQQS6PK;Initial Catalog=QL_DCAN;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
       
    </connectionStrings>
</configuration>